* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 10%;
  background-color: rgb(255, 115, 0);
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-template-rows: repeat(4, 350px);
  grid-auto-rows: minmax((400px, auto));
  grid-gap: 1em;
  height: 100%;
  background-color: rgb(255, 196, 148);
}

.border {
  border: 1px black solid;
  height: 350px;
}

.group__container {
}
